<!DOCTYPE html>
<html>
<head>
  <title>DestinyDesigner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>DestinyDesigner</h1>
    <%= link_to "Programs", programs_path %>
</body>
</html>
