<div class="hero-unit">
    <h2>
        Bodyweight Training.
    </h2>
    <p>
    这是一个关于体重健身的网站，详细内容来自于<a href="http://www.amazon.cn/gp/product/B008YS7LRA/" target="blank">《无器械健身:用自身体重锻练》</a>。书中介绍的的专业训练方法和营养建议，无论是在客厅、后院、车库、旅馆还是办公室里，你都可以锻炼，每周只需4次，每次只需30分钟。很快，你就会发现自己身体的变化。这127个讲解清晰的动作能锻炼你全身的每一个部位，相比于举重，它们能塑造更多的肌肉，相比于有氧运动，它们能燃烧更多的脂肪，而且比这两者更安全；同时，自身体重训练还能提高你的平衡能力和身体的稳定性，从而进一步预防受伤。选择你的训练水平——“基础”“一级”“大师”“英雄”——开始锻炼！忘掉健身房、自由重量、组合器械以及那些广告中宣传的新奇玩具吧，它们远比不上世界上最先进的健身器械，唯一一件你永远不会失去的东西——你自己的身体。
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="programs/" target="blank">Learn more »</a>
    </p>
</div>
