<table class="table table-hover table-condensed table-striped">
<thead>
    <tr>
        <th>
            <%= 'Day ' + @day.order.to_s + ':' + @day.section %>
        </th>
    </tr>
</thead>
<tbody>
    <% exercises_of_day @day.id %>
    <% @exercises.each do |e| %>
        <tr>
            <td>
                <%= link_to e.name, e %>
            </td>
        </tr>
    <% end %>
</tbody>
</table>
