<table class="table table-hover table-condensed table-striped">
<thead>
    <tr>
        <th>
            <%= 'Day ' + @day.order.to_s + ':' + @day.section %>
        </th>
    </tr>
</thead>
<tbody>
    <% @day.exercises.each do |exercise| %>
    <tr>
        <td>
            <%= exercise.name %>
        </td>
    </tr>
    <% end %>
</tbody>
</table>
